In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('Resources/Crime_Data/national_crime.csv')
df = df.drop('id', axis=1)

In [17]:
grouped_df = df.groupby(['data_year', 'State']).sum().reset_index()
grouped_df.head(20)

,data_year,State,Firearm (Automatic),Handgun (Automatic),Rifle (Automatic),Rifle,Shotgun (Automatic),Other Firearm (Automatic),Firearm,Handgun,Shotgun,Other Firearm
0,1991,AL,0,0,0,239,0,0,1385,7359,705,0
1,1991,IL,0,2,0,0,0,0,3,1,0,0
2,1991,ND,0,1,0,3,0,0,4,10,1,3
3,1991,SC,1,219,7,585,2,0,909,8199,1321,191
4,1992,AL,0,0,0,238,0,0,1442,6310,563,0
5,1992,CO,1,0,0,2,0,0,13,56,4,7
6,1992,IA,12,79,8,82,4,2,178,424,151,43
7,1992,ID,11,62,8,72,0,3,69,253,73,39
8,1992,IL,1,0,0,0,0,0,0,2,0,0
9,1992,ND,0,0,0,1,0,0,3,14,3,0
10,1992,SC,2,294,8,600,4,3,617,9553,1412,94
11,1993,CO,0,0,0,3,0,0,3,71,8,7
12,1993,IA,10,136,13,115,3,4,264,729,225,90
13,1993,ID,11,183,13,119,6,4,119,484,84,110
14,1993,IL,38,234,3,241,2,2,707,5049,435,267
15,1993,ND,1,3,0,5,0,0,3,10,8,4
16,1993,SC,1,208,3,570,0,4,530,8363,976,129
17,1993,UT,2,23,0,24,0,0,42,61,15,26
18,1993,VT,0,0,0,0,0,0,0,0,0,0
19,1994,CO,0,1,0,2,0,0,1,30,1,2

In [ ]:
grouped_df.to_csv('Resources/Crime_Data/national_crime_by_year.csv', index=False)