In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../Resources/Crime_Data/national_crime.csv')
df = df.drop('id', axis=1)

In [4]:
grouped_df = df.groupby(['data_year', 'State']).sum().reset_index()
grouped_df.head(20)

    data_year State  Total_Shootings
0        1991    AL             9688
1        1991    IL                6
2        1991    ND               22
3        1991    SC            11434
4        1992    AL             8553
5        1992    CO               83
6        1992    IA              983
7        1992    ID              590
8        1992    IL                3
9        1992    ND               21
10       1992    SC            12587
11       1993    CO               92
12       1993    IA             1589
13       1993    ID             1133
14       1993    IL             6978
15       1993    ND               34
16       1993    SC            10784
17       1993    UT              193
18       1993    VT                0
19       1994    CO               37

In [6]:
grouped_df.to_csv('../Resources/Crime_Data/national_crime_by_year.csv', index=False)