In [2]:
import pandas as pd

In [6]:
df_2014 = pd.read_csv('../Resources/Mass_Shootings_2014.csv')
df_2015 = pd.read_csv('../Resources/Mass_Shootings_2015.csv')
df_2016 = pd.read_csv('../Resources/Mass_Shootings_2016.csv')
df_2017 = pd.read_csv('../Resources/Mass_Shootings_2017.csv')
df_2018 = pd.read_csv('../Resources/Mass_Shootings_2018.csv')
df_2019 = pd.read_csv('../Resources/Mass_Shootings_2019.csv')
df_20_23 = pd.read_csv('../Resources/Mass_Shootings_20-23.csv')

In [7]:
mass_shootings = pd.concat([df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_20_23])
mass_shootings.head()

,Incident ID,Incident Date,State,City Or County,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,Operations
0,271363,29-Dec-14,Louisiana,New Orleans,Poydras and Bolivar,0,4,0,0,0,NaN
1,269679,27-Dec-14,California,Los Angeles,8800 block of South Figueroa Street,1,3,0,0,0,NaN
2,270036,27-Dec-14,California,Sacramento,4000 block of May Street,0,4,0,0,0,NaN
3,269167,26-Dec-14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,0,0,0,NaN
4,268598,24-Dec-14,Missouri,Saint Louis,18th and Pine,1,3,0,0,0,NaN

In [8]:
mass_shootings.drop(columns='Operations', inplace=True)
mass_shootings.head()

,Incident ID,Incident Date,State,City Or County,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested
0,271363,29-Dec-14,Louisiana,New Orleans,Poydras and Bolivar,0,4,0,0,0
1,269679,27-Dec-14,California,Los Angeles,8800 block of South Figueroa Street,1,3,0,0,0
2,270036,27-Dec-14,California,Sacramento,4000 block of May Street,0,4,0,0,0
3,269167,26-Dec-14,Illinois,East St. Louis,2500 block of Summit Avenue,1,3,0,0,0
4,268598,24-Dec-14,Missouri,Saint Louis,18th and Pine,1,3,0,0,0

In [10]:
mass_shootings.to_csv('../Resources/mass_shootings_cleaned.csv', index=False)